{% extends "plain.html" %}

{% load i18n staticfiles frontend %}

{% block title %}{% trans "Panels" %}{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "piplmesh/js/panels.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var panels_with_dependencies = {{ panels_with_dependencies|json|safe }}
        /* ]]> */
    </script>
{% endblock %}

{% block content %}
    {% include "user/menu.html" %}
    <div class="panels">
        {% with form_submit=_("Submit") %}
            {% include "form/panels.html" %}
        {% endwith %}
    </div>
{% endblock %}
